@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/*CSS Normalizers*/
html, body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

html, body {
	height: 100%;
	width: 100%;
	background: #f6f7f7;
}

a {
	text-decoration: none;
	color: #afaaac;
}

a:hover {
	color: #666;
}

h4 {
	font-weight: 400;
	margin-bottom: 5px;
}

/*Header styles*/
header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	border-top: 6px solid #7f94cf;
	box-shadow: 6px -9px 6px 10px #333;
	-webkit-box-shadow: 6px -9px 6px 10px #333;
	padding: 20px 60px;
	z-index: 5;
	background: #f6f7f7;
}

#logo {
	color: #afaaac;
	font-size: 1.5em;
	font-weight: 300;
}

#logo > img {
	max-height: 1em;
}

nav {
	float: right;
}

nav > ul {
	list-style-type: none;
}

nav > ul > li {
	display: inline-block;
	margin: 0px 10px;
	font-size: 1em;
	line-height: 1.5em;
}

nav > ul > li:last-child {
	margin-right: 0px;
}

nav > ul > li > a {
	vertical-align: sub;
}

nav > .dropdown {
	background: #f6f7f7;
}

nav > .dropdown > li {
	display: block;
	background: inherit;
}

nav > .dropdown > li:not(:first-child) {
	display: none;
	position: absolute;
	padding: 10px;
	margin-left: 0px;
	box-shadow: 1px 5px 8px -3px #333;
	-webkit-box-shadow: 1px 5px 8px -3px #333;
}

nav > .dropdown:hover li,
nav > .dropdown > li:hover + li {
	display: block;
}

/*Main styles*/
main {
	min-width: 100%;
	min-height: 100%;
	/*Offset for the header*/
	padding-top: 75px;
}

/*Login and register*/
#form_center_wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('/src/login_bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

#form_center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

#form_center h2 {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 2em;
}

#form_center form {
	padding: 20px 40px;
	background-color: #444443;
	opacity: 0.8;
	border-radius: 3px;
}

#form_center form * {
	display: block;
	color: #98A4A1;
}

#form_center form input[type="text"],
#form_center form input[type="email"],
#form_center form input[type="password"] {
	position: relative;
  background: none;
  border: 1px solid #98A4A1;
  -webkit-appearance: none;
  border-radius: 4px;
  padding: 15px 10px;
  font-size: 0.8em;
  margin: 20px 0px;
  min-width: 250px;
  font-size: 1em;
  color: white;
}

/*Removing the blue outline in chrome*/
form input,
form textarea{
	outline: 0 !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #98A4A1;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #444443 inset;
  transition: background-color 5000s ease-in-out 0s;
}

#form_center form button[type="submit"] {
	font-size: 1em;
	margin: 0 auto;
  border: 1px solid #98A4A1;
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 20px;
  transition: all 0.2s ease-in;
}

#form_center form button[type="submit"]:focus,
#form_center form button[type="submit"]:hover {
  border: 1px solid #7f94cf;
  background-color: #7f94cf;
  color: white;
  cursor: pointer;
  outline: 0 !important;
}

#form_center form .help-block {
	max-width: 250px;
	color: white;
}

#form_center .radio_wrapper input[type="radio"],
#form_center .radio_wrapper  label {
	margin: 0px 5px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

#form_center .radio_wrapper input[type=radio] {
  opacity: 0;
  z-index: 15;
  cursor: pointer;
  position: absolute;
  margin-top: 3px;
  margin-left: 9px;
}

#form_center .radio_wrapper label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  left: 0;
  bottom: 1px;
  border: 2px solid #98A4A1;
  border-radius: 12px;
  vertical-align: sub;
}

#form_center .radio_wrapper label:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  margin: 5px;
}

#form_center .radio_wrapper input[type=radio]:checked + label:after {
  background-color: #98A4A1;
}

#form_center .checkbox {
	margin: 10px 0px;
}

#form_center .checkbox * {
	display: inline-block;;
}

#form_center .checkbox input {
	position: absolute;
	left: 28%;
  margin-top: 7px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

#form_center .checkbox label {
	vertical-align: middle;
	cursor: pointer;
}

#form_center .checkbox label:before {
	content: "";
	height: 12px;
	width: 12px;
  position: absolute;
  left: 28%;
  margin-top: 3px;
  border: 1px solid #98A4A1;
  cursor: pointer;
}

#form_center .checkbox label:after {
	content: "";
	height: 8px;
	width: 8px;
  position: absolute;
  left: 28%;
  margin: 6px 3px;
  cursor: pointer;
  backgrond: transparent;
  transition: all 0.3s ease;
}

#form_center .checkbox input:checked + label:after {
	background: #98A4A1;
}

#form_center a {
	margin-top: 10px;
	font-size: 0.8em;
}

/*User profile*/
#col_wrapper {
	max-width: 1280px;
	margin: 40px 0px;
	transform: translate(-50%);
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
}

#col_wrapper > div {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.col_left {
	width: 300px;
	display: inline-block;
	float: left;
	/*Removing the margin bug*/
	margin: 0px -4px -4px 0px;
}

.col_right {
	width: calc(100% - 340px);
	display: inline-block;
	/*Removing the margin bug*/
	margin: 0px -4px -4px 40px;
}

.left_head {
	width: 100%;
	background: #7F94D0;
	padding: 40px;
}

.left_head > .profile_img {
	width: 220px;
	height: 220px;
	background: white;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid white;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
}

.left_head > .profile_img > img {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.left_head > #profile_name {
	text-align: center;
	color: white;
	margin-top: 10px;
}

.landscape {
	width: 100%;
	height: auto;
	opacity: 1 !important;
}

.portrait {
	height: 100%;
	width: auto;
	opacity: 1 !important;
}

.social_cotainer {
	padding-top: 20px;
	display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.social_cotainer > div {
	display: inline-block;
	background: white;
	height: 36px;
	min-width: 36px;
	border-radius: 50%;
	margin: 0px 10px;
}

.social_cotainer > div img {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.profile_docs {
	margin-top: 40px;
	display: inline-block;
}

.profile_docs > a {
	margin: 0px 5px;
}

.profile_docs > a > img {
	vertical-align: sub;
	display: inline-block;
}

.left_body {
	padding: 40px 20px;
}

.left_body > div {
	margin-bottom: 20px;
}

.col_right {
	padding: 40px 40px 40px 20px;
}

form[name="store_post"] > textarea {
	resize: none;
	width: 100%;
	min-height: 80px;
	font-size: 14px;
	padding: 5px 10px;
	border: 1px solid #afaaac;
  border-radius: 3px;
  margin-bottom: 10px;
  background: #f6f7f7;
}

form[name="store_post"] > button[type="submit"] {
	background: transparent;
	border: 1px solid #afaaac;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

form[name="store_post"] > button[type="submit"]:hover,
form[name="store_post"] > button[type="submit"]:focus {
border: 1px solid #7f94cf;
  background-color: #7f94cf;
  color: white;
  cursor: pointer;
  outline: 0 !important;
}

.feed {
	margin-top: 40px;
}

.post > div > p {
	margin-bottom: 5px;
}

.post > div > a:first-of-type {
	margin-left: 58px;
}

.post > div {
	margin-bottom: 20px;
}

.post_img {
	height: 48px;
	width: 48px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #7f94cf;
	float: left;
  margin-right: 10px;
}

.post_img img {
	opacity: 0;
	transition: opacity 0.3s ease;
}
