.dashboard {

  &__nav {
    padding: 50px 20px;
    width: 300px;
    background-color: #fff;
    height: 100%;
    position: absolute;
    height: calc(100% + 70px);
  }

  &__content {
    padding-top: 50px;
    margin-left: 350px;
  }

  &__title {
    font-size: 3.6rem;
    color: #313131;
    font-weight: 400;

    + p {
      font-size: 1.6rem;
      color: #6f6f6f;
      font-weight: 400;
    }
  }


}

.nav {

  &__head {
    text-align: center;
  }
  
  &__image img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  &__options {

    li {
      list-style-type: none;
    }

    a {
      display: block;
      font-size: 1.8rem;
      padding: 5px 20px;
      margin-bottom: 5px;
      border-radius: 3px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #2F88F6;
        color: white;

        .mdi { color: white; }
      }
    }

    i {
      font-size: 2.4rem;
      transition: all 0.3s ease;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}